.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.checkout-modal {
  position: fixed;
  width: 500px;
  height: 150px;
  background-color: wheat;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 10px;
  z-index: 10;
  margin-top: 500px;
}
.checkout-buttons {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.checkout-buttons button {
  padding: 10px 40px;
  border: none;
  border-radius: 6px;
  color: white;
  background-color: chocolate;
  cursor: pointer;
}
.checkout-buttons button:hover {
  background-color: rgb(148, 74, 21);
}
